html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

a {
    color: #2e72a1;
}

#logo, .project-img {
    max-height: 500px;
    max-width: 500px;
}

#fork img{
    height: 30px;
    margin-bottom: 30px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #F7EDE2; /* lighter beige */
    color: #ffc3dc;
}

.bg-2 {
    background-color: #E7D7CB; /* light beige */
    color: #000000; /* black color font*/
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #ecd8e3; /* pink */
    color: #000000; /* black color font*/
}

.bg-4 {
    background-color: #D2C1B3; /* dark light beige */
    color: #000000;/* black font*/
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 6px;
}

.navbar-nav li a:hover {
    color: #92a8d1 !important;
}